<footer class="footer">
  <div class="container">
    <small>
      Maintained by <a href="http://telegram.me/devconcert" target="_blank">@devconcert</a>, <a href="http://ttalk.me/" target="_blank">TTalk</a> Developer.
    </small>
    <small>
      Project made by <a href="https://twitter.com/resir014" target="_blank">@resir014</a> and <a href="https://twitter.com/dankmau5" target="_blank">@dankmau5</a>. All stickers featured here are the rights of their respective artists.
    </small>
    <small>
      This site is not affiliated with the people who made <a href="https://telegram.org/" target="_blank">Telegram Messenger</a>.
    </small>
    </small>
  </div>
</footer>
